@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    background-color: #f2f2f2;
    color: #333333;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.visually-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1090px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* buttons */

.button {
    display: inline-block;
    padding: 8px 16px;
    font-family: inherit;
    font-size: 16px;
    font-style: inherit;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-height: 36px;
}

.button-lg {
    min-height: 52px;
    font-size: 20px;
    line-height: 36px;
}

.button-primary {
    background-color: #756157;
    color: #ffffff;
}

.button-secondary {
    background-color: #82b3d3;
    color: #ffffff;
}

.button-transparent {
    /* padding: 8px 57.5px; */
    background-color: transparent;
    color: inherit;
}

.button-selected {
    background-color: #7DB54F;
    color: #ffffff;
}

/* titles */

.title-h-two {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.title-h-three {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

/* page-header */

.page-header {
    color: #000000;
}

.page-header-button {
    min-width: 160px;
    margin-left: 20px;
}

.nav {
    display: flex;
    align-items: center;
    width: 1060px;
    column-gap: 30px;
    margin: 0 auto;
}

.nav-logo {
    position: relative;
    margin-bottom: -6px;
}

.nav-logo-img {
    vertical-align: middle;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 450px;
    gap: 32px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: auto;
    list-style: none;
}

.nav-link {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 18px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.nav-link-current {
    position: relative;
    z-index: 1;
    border-bottom: 2px solid #756257;
}

.nav-user-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}


.nav-user-link-badge {
    font-size: 10px;
    line-height: 10px;
    background-color: #7db54f;
    border-radius: 10px;
    color: #ffffff;
}

/* footer */

.page-footer {
    padding-top: 40px;
    padding-bottom: 30px;
}

.page-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-footer-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

/* lead */

.lead {
    margin: 0 auto;
    text-align: center;
}

.lead-title {
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.lead-description {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
}


/* intro */

.intro {
    padding-top: 51px;
    padding-bottom: 82px;
    background-image: url("../images/index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #D9E9F3;
    text-align: center;
}

.intro-img {
    vertical-align: middle;
}

/* advantages & services */

.advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.advantages-card {
    padding-left: 85px;
    padding-right: 85px;
}

.advantages-card-description,
.services-item-description {
    margin: 0;
}

/* advantages */

.advantages {
    padding-top: 69px;
}

.advantages-header {
    max-width: 651px;
    margin-bottom: 69px;
}

.advantages-header .lead-title {
    margin-bottom: 25px;
}

.advantages-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 385px;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-img {
    vertical-align: middle;
}

.advantages-item-dark {
    display: flex;
    align-items: center;
    grid-column: -1 / 1;
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages-item-dark .advantages-card-title {
    color: #ffffff;
}

.advantages-item-light {
    background-color: #ffffff;
}

/* services */
.services {
    padding-top: 64px;
}

.services-header {
    max-width: 505px;
    margin-bottom: 64px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.services-item {
    width: 400px;
    padding: 81px 85px;
}

.services-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

/* booking */

.booking {
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
}

.booking-container {
    max-width: 592px;
    margin-bottom: 54px;
}

.booking-button {
    min-width: 376px;
}

.subscribe {
    padding-top: 96px;
    padding-bottom: 104px;
}

.subscribe-with-image {
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #82B3D3;
    color: #ffffff;
}

.subscribe-with-image .title-h-two {
    color: inherit;
}

.subscribe-container {
    max-width: 475px;
    margin-bottom: 54px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-input {
    width: 452px;
    border-radius: 4px 0 0 4px;
}

.subscribe-form-button {
    min-width: 232px;
    border-radius: 0 4px 4px 0;
}

.form-input {
    padding: 14px 20px;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}

.form-input::placeholder {
    color: #333333;
}

/* catalog-page-head */

.catalog-page-head {
    padding-top: 35px;
    padding-bottom: 70px;
    background-color: #85645B;
    background-image: url("../images/filter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.catalog-page-title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
}

.breadcrumbs-link {
    font-size: 16px;
    color: inherit;
}

/* filter-form */

.filter-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.form-fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form-fieldset:nth-child(2) {
    margin-right: auto;
}

.form-fieldset-title {
    padding: 0;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.form-fieldset-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-checkbox,
.form-radio {
    display: inline-block;
    margin-bottom: 16px;
}

.form-range-input-container {
    display: flex;
    gap: 2px;
    margin-bottom: 36px;
}

.form-range-input {
    min-width: 143px;
    min-height: 48px;
    font-weight: 700;
    padding: 12px 20px;
}

.form-range-input:first-child {
    border-radius: 4px 0 0 4px;
}

.form-range-input:last-child {
    border-radius: 0 4px 4px 0;
}

.form-range-setting {
    margin: 0;
}

.filter-form-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.filter-form-button {
    min-width: 191px;
}

/* catalog */

.catalog {
    padding-top: 50px;
    padding-bottom: 60px;
}

.catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.catalog-title {
    margin: 0;
}

.select-control {
    margin-left: auto;
    margin-right: 70px;
    min-width: 292px;
    max-height: 49px;
    padding: 14px 20px;
    font-size: 18px;
    line-height: 21px;
    border-radius: 4px;
    color: inherit;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.card-sizes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card-sizes-button {
    display: inline-block;
    width: 48px;
    min-height: 48px;
    padding: 0;
    border-radius: 4px;
    border: 2px solid #e5e5e5;
}

.card-sizes-button-current {
    border: 2px solid #000000;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 345px);
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    list-style: none;
}

.catalog-card {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    row-gap: 16px;
    column-gap: 20px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.catalog-card-img {
    display: block;
}

.catalog-card-link {
    text-decoration: none;
    grid-column: -1 / 1;
}

.catalog-card-title {
    margin: 0;
    color: #000000;
    text-transform: none;
}

.catalog-card-type,
.catalog-card-price {
    margin: 0;
}

.catalog-card-button {
    min-width: 140px;
}

.catalog-card-rating {
    max-width: 140px;
    margin: 0;
    padding: 9px 22px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #F2F2F2;
    border-radius: 4px;
}

/* pagination */

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination-link {
    display: inline-block;
    line-height: 60px;
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #82b3d3;
    vertical-align: middle;
    border-radius: 4px;
}

.pagination-text {
    display: inline-block;
    line-height: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
}

.pagination-current {
    color: inherit;
    background-color: #f2f2f2;
}
